<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../adminMain.css">
    <title>Admin</title>
</head>

<body>

<%
var totalIncome = 0;

var totalProduct = 0;
products.forEach(function(product){
    totalProduct++;
})

var completedOrders = 0;
var pendingOrders = 0;
userOrders.forEach(function(singleOrder){
    if(singleOrder.delivered == true){
        completedOrders++;
        singleOrder.cart.forEach(function(item){ 
            totalIncome=totalIncome + item.price;
        })
    }else{
        pendingOrders++;
    }
}) 


var totalCustomer = 0;
users.forEach(function(user){
    totalCustomer++;
}) 

%>

<script>
    function alertJS() {
        var alertMsg = document.getElementById("alertMsg");
        setTimeout(function () { alertMsg.classList.add("d-none") }, 3000);
    };
</script>
    <!-- navbar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Lets Buy Shoes!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin <span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>

                </ul>

            </div>
        </nav>

    </section>
    <div id="alertMsg" class="container-fluid my-0 py-0 px-0 mx-0 my-0 ">
        <!-- Checking error -->
        <% if(error && error.length > 0){ %>
        <script>alertJS();</script>
        <div class="alert alert-danger text-center my-0 py-1" role="alert">
            <%= error %>
        </div>
        <% } %>
        <!-- Checking Success -->
        <% if(success && success.length > 0){ %>
        <script>alertJS();</script>
        <div class="alert alert-success text-center  my-0 py-1" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>


    <section id="header">
        <div class="container-fluid px-0 mx-0">
            <p class="text-center py-3">Welcome, Admin!</p>
        </div>
    </section>


    <!-- All info here -->

    <section id="listButton" class="mb-5">
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7">
                    <div id="button" class="my-2 mx-auto">
                        <a onclick="myFunction(this)" class="btn btn-lg px-5 py-4 adminButtons" data-toggle="collapse" href="#addProduct" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            New Product
                        </a>
                    </div>

                    <div id="button" class="my-2 mx-auto">
                        <a onclick="myFunction(this)" class="btn btn-lg px-5 py-4 adminButtons" data-toggle="collapse" href="#newProduct" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Inventory
                        </a>
                    </div>

                    <div id="button" class="my-2 mx-auto">
                        <a onclick="myFunction(this)" class="btn btn-lg px-5 py-4 adminButtons" data-toggle="collapse" href="#newOrders" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            New Orders
                        </a>
                    </div>

                    <div id="button" class="my-2 mx-auto">
                        <a onclick="myFunction(this)" class="btn btn-lg px-5 py-4 adminButtons" data-toggle="collapse" href="#allUsers" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            All Customers
                        </a>
                    </div>
                    <div id="button" class="my-2 mx-auto">
                        <a onclick="myFunction(this)" class="btn btn-lg px-5 py-4 adminButtons" data-toggle="collapse" href="#completedOrders" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Completed Orders
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5">
                    <h2 class="text-center pt-5 pt-lg-1 pb-3">At a glance</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="text-center">Completed Order </th>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td><%=completedOrders%></td>
                            </tr>
                            <tr>
                                <th class="text-center">Pending Order </th>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td><%=pendingOrders%></td>
                            </tr>
                            <tr>
                                <th class="text-center">Items Shown </th>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td><%=totalProduct%></td>
                            </tr>
                            <tr>
                                <th class="text-center">Total Money Earned </th>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td><%=totalIncome%></td>
                            </tr>
                            <tr>
                                <th class="text-center">Total Customers </th>
                                <td><i class="fas fa-arrow-right"></i></td>
                                <td><%=totalCustomer%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </section>

    <div class="container-fluid">
        <div class="collapse" id="newProduct">
            <div class="row d-flex px-1 px-lg-2 pt-5">
                <div class="col-12">
                    <section id="list">
                        <h2 class="text-center py-3">Products Displayed</h2>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="px-0">Serial</th>
                                        <th scope="col">Image Preview</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Sex</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="px-0">Items</th>
                                        <th scope="col">Featured</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% 
                  var count=1;
                  products.forEach(function(product){ 
                    var date = new Date(product.date);  // dateStr you get from mongodb
  
                    var d = date.getDate();
                    var m = date.getMonth()+1;
                    var y = date.getFullYear()-2000;
                    %>
                                    <tr>
                                        <th scope="row" class="px-0"><%=count%></th>
                                        <td>
                                            <a href="../products/<%=product._id%>"><img class="img-thumbnail"
                                                    src="<%=product.image%>" alt="product image"></a>
                                        </td>
                                        <td><%=product.title%></td>
                                        <td><%=product.price%> Taka</td>
                                        <!-- Use substring below -->
                                        <td class="text-justify"><%=product.description%></td>
                                        <td><%=product.sex%></td>
                                        <td><%=d%>/<%=m%>/<%=y%></td>
                                        <td class="px-0">XL: <%=product.sizeXL%>, L: <%=product.sizeLG%>, M: <%=product.sizeMD%>, S:<%=product.sizeSM%></td>
                                        <td><%=product.featured%></td>
                                        <td>

                                            <a href="/products/<%=product._id%>/edit"
                                                class="btn btn-sm btn-outline-info"><i class="far fa-edit"></i></a>

                                        </td>

                                        <td>
                                            <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                                                <button class="btn btn-sm btn-outline-danger"><i
                                                        class="far fa-trash-alt"></i></button>
                                            </form>
                                        </td>

                                    </tr>
                                    <% 
                count++;
                })
                totalProduct=count;
                %>

                                </tbody>
                            </table>
                        </div>
                    </section>

                </div>
            </div>
        </div>

        <section id="addProduct" class="collapse">
            <h2 class="text-center py-3">Add New Product</h2>
            <div class="container py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">

                        <form action="/products/new" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Title of the product</label>
                                <input type="text" class="form-control" name="product[title]"
                                    placeholder="Product Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Price</label>
                                <input type="text" class="form-control" name="product[price]" placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image 1</label>
                                <input type="text" class="form-control" name="product[image][0]" placeholder="Image link" rquired>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image 2</label>
                                <input type="text" class="form-control" name="product[image][1]" placeholder="Image link">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image 3</label>
                                <input type="text" class="form-control" name="product[image][2]" placeholder="Image link">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image 4</label>
                                <input type="text" class="form-control" name="product[image][3]" placeholder="Image link">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image 5</label>
                                <input type="text" class="form-control" name="product[image][4]" placeholder="Image link">
                            </div>

                            <div class="form-group">
                                <label for="inputState">Gender</label>
                                <select name="product[sex]" class="form-control">
                                    <option selected disabled>Select Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" name="product[description]" rows="3"></textarea>
                            </div>

                            <h3>Size & Amount</h3>

                            <div class="form-group">
                                <label for="inputState">Extra Large</label>
                                <input type="number" class="form-control" name="product[sizeXL]" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="inputState">Large</label>
                                <input type="number" class="form-control" name="product[sizeLG]" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="inputState">Medium</label>
                                <input type="number" class="form-control" name="product[sizeMD]" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="inputState">Small</label>
                                <input type="number" class="form-control" name="product[sizeSM]" placeholder="Amount">
                            </div>
                            <div class="form-group">
                                <label for="inputState">Featured</label>
                                <select name="product[featured]" class="form-control">
                                    <option selected disabled>Will it show in homepage?</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>



                            <button type="submit" class="btn btn-danger">Submit</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </form>
                    </div>
                </div>
            </div>

        </section>


        <section>
            <div id="allUsers" class="container-fluid collapse">
                <h2 class="text-center py-3">All Customers</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Serial</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email</th>
                                <th scope="col">Age</th>
                                <th scope="col">Admin</th>
                                <!-- <th scope="col">Orders</th> -->
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%
              var count=1;
              users.forEach(function(user){
                %>
                            <tr>
                                <th scope="row"><%=count%></th>
                                <td><%=user.username%></td>
                                <td><%=user.address%></td>
                                <td><%=user.phone%></td>
                                <td><%=user.email%></td>
                                <td><%=user.age%></td>
                                <td><%=user.admin%></td>

                                <td>
                                    <form action="/user/<%=user._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-outline-danger"><i
                                                class="fas fa-times"></i></button>
                                    </form>

                                </td>
                            </tr>
                            <% 
            count++;
            }) 
            %>



                        </tbody>
                    </table>
                </div>
            </div>
        </section>


        <section>

            <div id="newOrders" class="container-fluid collapse">
                <h2 class="text-center py-3">Pending Orders</h2>
                <div class="table-responsive">

                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">OrderID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Items</th>
                                <th scope="col">No. Items</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Buyer Name</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Buyer Email</th>
                                <th scope="col">Buyer Location</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Completed</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%
                            
                                if(userOrders !=null){                       
                                    userOrders.forEach(function(singleOrder){
                                        if(singleOrder.delivered == false){

                                        
                                        var count=0;
                                        var totalCost=0;
                                        var date = new Date(singleOrder.date);
                                        var d = date.getDate();
                                        var m = date.getMonth()+1;
                                        var y = date.getFullYear()

                            %>

                            <tr>
                                <td> <%= singleOrder._id %> </td>
                                <td> <%=d%>/<%=m%>/<%=y%> </td>
                                <td>
                                    <%  singleOrder.cart.forEach(function(item){ 
                                        count= count + parseInt(item.amount);
                                        totalCost=totalCost + item.price;
                                        %>
                                    <p><%= item.productName%> (<%= item.size %>) | <%=item.amount%></p>
                                    <% }) %>

                                </td>
                                <td><%= count %></td>
                                <td><%=totalCost%></td>
                                <td><%=singleOrder.buyer.username.toUpperCase()%></td>
                                <td><%=singleOrder.buyer.phone%></td>
                                <td><%=singleOrder.buyer.email%></td>
                                <td><%=singleOrder.buyer.address%></td>
                                <td><a href="/order/edit/<%=singleOrder._id%>"><i class="far fa-edit"></i></a></td>
                                <td>
                                    <form action="/order/confirm/<%=singleOrder._id%>?_method=PUT" method="POST">
                                        <button class="btn btn-outline-success "><i class="far fa-check-circle"></i></button>
                                    </form>
                                </td>
                            </tr>

                            <%
                                    } 
                                })%>

                            <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>


        <section>

            <div id="completedOrders" class="container-fluid collapse">
                <h2 class="text-center py-3">Completed Orders</h2>
                <div class="table-responsive">

                    <table class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">OrderID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Items</th>
                                <th scope="col">No. Items</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Buyer Name</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Buyer Email</th>
                                <th scope="col">Buyer Location</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%
                            
                                if(userOrders !=null){                       
                                    userOrders.forEach(function(singleOrder){
                                        if(singleOrder.delivered == true){

                                        
                                        var count=0;

                                        var totalCost2=0;
                                        var date = new Date(singleOrder.date);
                                        var d = date.getDate();
                                        var m = date.getMonth()+1;
                                        var y = date.getFullYear()

                            %>

                            <tr class="table-success">
                                <td> <%= singleOrder._id %> </td>
                                <td> <%=d%>/<%=m%>/<%=y%> </td>
                                <td>
                                    <%  singleOrder.cart.forEach(function(item){ 
                                        count= count + parseInt(item.amount);
                                        totalCost2 = totalCost2 + item.price;
                                        %>
                                    <p><%= item.productName%> (<%= item.size %>) | <%=item.amount%></p>
                                    <% }) %>

                                </td>
                                <td><%= count %></td>
                                <td><%=totalCost2%></td>
                                <td><%=singleOrder.buyer.username.toUpperCase()%></td>
                                <td><%=singleOrder.buyer.phone%></td>
                                <td><%=singleOrder.buyer.email%></td>
                                <td><%=singleOrder.buyer.address%></td>
                                <td>
                                    <form action="/order/delete/<%=singleOrder._id%>?_method=DELETE" method="POST">
                                        <button href="" class="btn btn-outline-danger "><i class="fas fa-ban"></i></button>
                                    </form>
                                </td>
                            </tr>

                            <%
                            totalIncome = totalIncome + totalCost2
                                    } 
                                })%>

                            <%}%>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <script>
            var adminButton = document.getElementsByClassName("adminButtons");

            function myFunction(elmnt) {
                elmnt.classList.toggle("selectedBtn");
                for(let i=0; i < adminButton.length;i++){
                    adminButton[i].setAttribute("aria-expanded", false);
                    adminButton[i].classList.add("collapsed");
                    // adminButton[i].classList.remove("selectedBtn");
                }
                elmnt.setAttribute("aria-expanded", true);
                elmnt.classList.remove("collapsed");
            }
        </script>
</body>

</html>