<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="../admin.css">
  <title>Login Here</title>
</head>

<body>

  <!-- navbar -->
  <section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html">Pothorekha</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Admin <span class="sr-only"></span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../products/new">Add new product</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link active" href="../admin/products">All products</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="../admin/users">All Users</a>
          </li>
        </ul>
        <ul class="navbar-nav">


          <% if(currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href=""> <strong> <%= currentUser.username.toUpperCase() %> </strong></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <% }%>


        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->

      </div>
    </nav>

  </section>

  <section id="header">
    <div class="container-fluid px-0 ">
      <p class="text-center py-3">Inventory Information</p>
    </div>
  </section>

  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-12 col-lg-9 order-2 order-lg-1 pr-0 pl-0">
        <section id="list">
          <h2 class="text-center">Products Displayed</h2>
          <div class="container table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Serial</th>
                  <th scope="col">Image Preview</th>
                  <th scope="col">Title</th>
                  <th scope="col">Price</th>
                  <th scope="col">Description</th>
                  <th scope="col">Sex</th>
                  <th scope="col">Date</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>

                <% 
                var count=1;
                products.forEach(function(product){ 
                  var date = new Date(product.date);  // dateStr you get from mongodb

                  var d = date.getDate();
                  var m = date.getMonth()+1;
                  var y = date.getFullYear()
                  %>
                <tr>
                  <th scope="row"><%=count%></th>
                  <td>
                    <a href="../products/<%=product._id%>"><img class="img-thumbnail" src="<%=product.image%>"
                        alt="product image"></a>
                  </td>
                  <td><%=product.title%></td>
                  <td><%=product.price%> Taka</td>
                  <!-- Use substring below -->
                  <td class="text-justify"><%=product.description%></td>
                  <td><%=product.sex%></td>
                  <td><%=d%>/<%=m%>/<%=y%></td>
                  <td>
                    <!-- <form action="/<%=product._id%>?_method=PUT" method="PUT">
                      <button class="btn btn-sm btn-outline-info"><i class="far fa-edit"></i></button>
                    </form>
                    <button class="btn btn-sm btn-outline-info"><i class="far fa-edit"></i></button> -->
                    <a href="/products/<%=product._id%>/edit" class="btn btn-sm btn-outline-info"><i class="far fa-edit"></i></a>

                  </td>

                  <td>
                    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                  </td>

                </tr>
                <% 
              count++;
              }) %>





              </tbody>
            </table>
          </div>
        </section>
      </div>

      <div id="sideBar" class="col-12 col-lg-3 order-1 order-lg-2 pl-0">
        <h3 class="text-center">Total Items shown</h3>
        <table class="table table-hover text-center ">
          <thead>
            <tr>
              <th scope="col">Sex</th>
              <th scope="col">Total Items</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Male</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Female</td>
              <td>20</td>
            </tr>

          </tbody>
        </table>

        <h3 class="text-center">Total pending orders - <span>24</span></h3>
        <div class="table-responsive">
          <table class="table table-hover text-center table-sm">
            <thead>
              <tr>
                <th scope="col">OrderID</th>
                <th scope="col">Items</th>
                <th scope="col">Date</th>
                <th scope="col">location</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>45521</td>
                <td>2</td>
                <td>25 Feb</td>
                <td>Mohamadpur</td>
              </tr>
              <tr>
                <td>45521</td>
                <td>2</td>
                <td>25 Feb</td>
                <td>Mohamadpur</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>



  <!-- All the products list -->



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>