<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Lets Buy Shoes!</title>
</head>

<body>
    <script>
        function alertJS() {
            var alertMsg = document.getElementById("alertMsg");
            setTimeout(function () { alertMsg.classList.add("fadeOutAlert") }, 3000);
        };
    </script>

    <!-- navbar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Lets Buy Shoes!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/products/male">Men</a>
                            <a class="dropdown-item" href="/products/female">Women</a>
                            <a class="dropdown-item disabled" href="#">Unisex</a>

                        </div>
                    </li>

                </ul>
                <ul class="navbar-nav">

                    <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <% }else{ 
                          
                        if(currentUser.admin == true){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin"> <strong> Admin Panel </strong></a>
                    </li>

                    <% 
                    }
                        %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/<%=currentUser._id%>"> <strong>
                                <%= currentUser.username.toUpperCase() %> </strong></a>
                    </li>


                    <li class="nav-item">
                        <a href="/cartItems" type="button" id="cartButton" class="btn" data-toggle="modal"
                            data-target="#exampleModalCenter" href="">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Cart Items </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div>
                                    <% if(currentUser){ 
                                        
                                        if(user.cart != ""){

                                        
                                        %>

                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Item</th>
                                                <th>Size</th>
                                                <th>Quantity</th>
                                                <th>Remove</th>
                                            </tr>





                                            <% user.cart.forEach(function(item){ %>
                                            <tr>
                                                <td><%= item.productName %></td>
                                                <td><%= item.size %></td>
                                                <td><%= item.amount %></td>
                                                <td>
                                                    <form action="/order/cart/<%= item._id%>?_method=DELETE"
                                                        method="POST">
                                                        <button class="btn btn-outline-danger btn-sm"><i
                                                                class="fas fa-times"></i></button>
                                                    </form>

                                                </td>
                                            </tr>
                                            <% }) %>


                                        </tbody>

                                    </table>

                                </div>
                                <div class="modal-footer text-center mx-auto">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <form action="/order/cart/confirmed" method="POST">
                                        <button type="submit" class="btn btn-success">Confirm Order</button>
                                    </form>

                                </div>

                                <% 
                                }else{ %>
                                <div class="text-center px-3">
                                    <h3>You havent added anything to your cart yet!</h3>
                                    <p>Pick your favourite item and click add to cart!</p>
                                </div>

                                <% }
                            
                            } %>

                            </div>
                        </div>
                    </div>

                    <% } %>

                </ul>

                <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->

            </div>
        </nav>

        <!-- Header image -->
    </section>

    <div id="alertMsg" class="container-fluid my-0 py-0 px-0 mx-0 my-0 ">
        <!-- Checking error -->
        <% if(error && error.length > 0){ %>
        <script>alertJS();</script>
        <div class="alert alert-danger text-center my-0 py-1" role="alert">
            <%= error %>
        </div>
        <% } %>
        <!-- Checking Success -->
        <% if(success && success.length > 0){ %>
        <script>alertJS();</script>
        <div class="alert alert-success text-center  my-0 py-1" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <section id="header">
        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <h1 class="display-2 text-center">Lets Buy Shoes!</h1>
                <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of
                    its parent.</p>
            </div>
        </div>
    </section>


    <!-- sub header quote -->
    <section id="subHeader">
        <div class="container">
            <blockquote class="blockquote text-center py-5">
                <p class="mb-0">You can have anything you want in life if you dress for it.</p>
                <footer class="blockquote-footer text-right"><cite title="Source Title">Edith Head</cite></footer>
            </blockquote>
        </div>

    </section>

    <!-- one section of clothes -->
    <section id="item">
        <div id="men" class="container">
            <a href="/products/male" class="btn btn-sm btn-outline-dark mt-3">Explore More</a>

            <h1>Men shoes</h1>
            <hr>
            <div class="row pt-3 justify-content-center">
                <% 
                var count=1;
                maleProducts.forEach(function(product){ 
                    if(count<=3){ 
                        if(product.featured == true){
                %>
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href="/products/<%=product._id%>"><img class="card-img-top" src="<%=product.image%>"
                                alt="Card image cap"></a>

                        <div class="card-body">
                            <h5 class="text-center card-title"><%=product.title%></h5>
                            <p class="card-text"><%=product.description.substring(0,100)%>...</p>
                            <h6 class="card-subtitle text-center mb-2"><%=product.price%> Taka</h6>
                        </div>
                    </div>
                </div>

                <% 
                        count++;
                            }
                        }
                    }) 
                %>
            </div>




        </div>
    </section>




    <section id="item">
        <div id="women" class="container pt-4">
            <a href="/products/female" class="btn btn-sm btn-outline-dark mt-3">Explore More</a>

            <h1>Women shoes</h1>
            <hr>
            <div class="row pt-3 justify-content-center">

                <% 
                var count=1;
                femaleProducts.forEach(function(product){ 
                    if(count<=3){ 
                        if(product.featured == true){
                %>
                <div class="col-12 col-md-6 col-lg-4 py-2">
                    <div class="card mx-auto" style="width: 18.7rem;">
                        <a href="/products/<%=product._id%>"><img class="card-img-top" src="<%=product.image%>"
                                alt="Card image cap"></a>

                        <div class="card-body">
                            <h5 class="text-center card-title"><%=product.title%></h5>
                            <p class="card-text"><%=product.description.substring(0,100)%>...</p>
                            <h6 class="card-subtitle text-center mb-2"><%=product.price%> Taka</h6>
                        </div>
                    </div>
                </div>

                <% 
                        count++;
                            }
                        }
                    }) 
                %>
            </div>

        </div>
    </section>

    <section id="footer">
        <div class="card mt-5">
            <div class="card-header text-center">
                LetsBuyShoes.com
            </div>
            <div class="card-body">
                <p class="text-center">
                    <a href="https://www.facebook.com/marufmonem.anik" class="contactLinks"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/maruf_monem_anik/" class="contactLinks"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/marufmonemanik" class="contactLinks"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a href="mailto: maruf.monem@g.bracu.ac.bd?cc=marufmonem@google.com" class="contactLinks"><i
                            class="far fa-envelope"></i></a>
                    <a href="https://github.com/MarufMonem" class="contactLinks"><i class="fab fa-github"></i></a>
                </p>
            </div>
        </div>
    </section>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>
</body>

</html>