<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../orderConfirm.css">
    <title> Order Confirmation</title>
</head>

<body>
    <script>
        function alertJS() {
            var alertMsg = document.getElementById("alertMsg");
            setTimeout(function () { alertMsg.classList.add("d-none") }, 3000);
        };
    </script>
    <!-- navbar -->
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Lets Buy Stuff</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/products/male">Men</a>
                            <a class="dropdown-item" href="/products/female">Women</a>
                            <a class="dropdown-item disabled" href="#">Unisex</a>

                        </div>
                    </li>
                </ul>
                <!-- Login links -->
                <%- include("../views/partials/navbarUserInfo") %>
            </div>
        </nav>
    </section>
    <!--All alerts  -->
    <%- include("../views/partials/alerts") %>

    <!-- Heading Section -->
    <section id="header">
        <p class="text-center py-3">Hi, <span><%=user.username.toUpperCase()%></span></p>
    </section>


    <section id="userInfo">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3 class="text-center mb-4">Please ensure the following information is up to date</h3>
                    <table class="table text-center">
                        <tbody>
                            <tr>
                                <th>Address:</th>
                                <td><%=user.address%></td>
                            </tr>
                            <tr>
                                <th>Phone Number:</th>
                                <td><%=user.phone%></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td><%=user.email%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 px-1 d-flex">
                    <a class="btn btn-info btn-block" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Update Information
                    </a>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-8">
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body bg-light mt-4">
                            <form action="/user/<%=user._id%>?_method=PUT" method="POST">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-12">

                                        <div class="form-group">
                                            <label>Where the product would be shipped </label>
                                            <input type="text" name="user[address]" class="form-control"
                                                value="<%=user.address%>" required>
                                            <small class="form-text text-muted">Where the product would be
                                                delivered.</small>
                                        </div>

                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="number" name="user[phone]" class="form-control"
                                                value="<%=user.phone%>" required>
                                            <small>This is the number we would use to contact you.</small>
                                            <br>
                                            <small class="text-danger">
                                                Changing this would log you out and you have
                                                to use the new number to login.
                                            </small>
                                        </div>


                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" name="user[email]" class="form-control"
                                                value="<%=user.email%>" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row d-flex justify-content-center">
                                    <div class="col-12">
                                        <button id="submit" type="submit" class="btn btn-warning">Submit</button>
                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="orders">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h3 class="text-center">Previous Orders</h3>
                    <table class="table text-center table-responsive-sm">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Size</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Remove</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.cart.forEach(function(item){ %>
                            <tr>
                                <td><a href="/products/<%=item.id%>"><%= item.productName %></a></td>
                                <td><%= item.size %></td>
                                <td><%= item.amount %></td>
                                <td>
                                    <form action="/order/cart/<%= item._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-outline-danger btn-sm"><i
                                                class="fas fa-times"></i></button>
                                    </form>

                                </td>
                                <td>
                                    <a href="/order/cart/change/<%= item._id%>" class="btn btn-sm btn-info"><i
                                            class="fas fa-edit"></i> </a>

                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>


                </div>

            </div>

            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-6 px-1 pt-4 d-block">
                    <form action="/order/cart/confirmed" method="POST">
                        <button type="submit" class="btn btn-success btn-block">Confirm Order</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <%- include("../views/partials/footer") %>